<div class="container">
<br>
<br>
<div class="row">
    <div class="col-md-2 col-md-offset-4">
        <h1>Edit User</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <%= render 'form' %>
    </div>
</div>
</div>